[submodule "themes/solar-theme-hugo"]
	path = themes/solar-theme-hugo
	url = https://github.com/bake/solar-theme-hugo.git
[submodule "themes/lekh"]
	path = themes/lekh
	url = https://github.com/ba11b0y/lekh.git
